@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;500;700&display=swap';

:root {
  --color-white: #e1e1e6;
  --color-primary: #8257e5;
  --color-secondary: #fd951f;
  --color-background: #121214;
  --color-background-header: #202024;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  color: var(--color-white);
  background: var(--color-background);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--color-background-header);
  padding: 30px;
}

header nav {
  text-align: center;
}

.links a {
  color: var(--color-white);
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  margin: 0 15px;
}

.links a:hover {
  color: var(--color-primary);
  font-weight: 500;
  transition: color 300ms;
}
